* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: aqua;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 2px 5px;
    border-radius: 9px;
    background-color: white;    
}

.days {
    display: grid;
    grid-template-columns: repeat(7,1fr)
}

#dates {
    display: grid;
    grid-template-columns: repeat(7,1fr)
}

.day {
    text-align: center;
       
}