* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

.calendar {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: aqua;

}

#todo {
    margin: auto;
    width: 25%;
    height: 500px;
    background-color: red;
    padding: 70px 125px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 2px 5px;
    border-radius: 9px;
    background-color: white;    
}

.days {
    display: grid;
    grid-template-columns: repeat(7,1fr)
}

#dates {
    display: grid;
    grid-template-columns: repeat(7,1fr)
}

.dayHeader {
    text-align: center;
}

.day {
    text-align: center;
    height: 25px;
    width: 40px;
    margin: auto;
}

.firstDayOffset {
    text-align: center;
    height: 25px;
    width: 40px;
    margin: auto;
}


.day:hover {
    background-color: green;
}

.completed {
    text-decoration: line-through;
    color: gray;
    text-decoration-color: black;
}

.hidden {
    display: none;
}